
#leftPannel {
	position: absolute;
	left: 25px;
	top: 25px;
	width:300px;
	min-height: 600px;
}

#tileSet {
	border: solid black 1px;
	display: none;
}

#rightPannel {
	position: absolute;
	top: 25px;
	left: 350px;
}

#fileSelector {
	margin-top: 15px;
}

#download {
	margin-bottom: 15px;
}

.tile {
	background-color: #E42217;
	color: black;
	position: relative;
	padding: 0px;
}

.tile p {
	margin: 0px;
	padding: 1px;
	position: absolute;
	display: inline-block;
	background-color: white;
	bottom: 0px;
	left: 0px;
	font-size: 12px;
}
